<section class="HeroHome">
	<div class="HeroHomeImage" style="background-image: url(<%= bg %>)">
	</div>

	<div class="img-overlay"></div>

	  <div class="HeroHomeContainer">
	    <div class="HeroHomeWrapper">
	      <h1 class="HeroHomeTitle">
	        <%= title %>
	      </h1>

	      <div class="HeroHomeContent">
	        <h1 class="HeroHomeContent-text"><%= content %></h1>
	      </div>
	    </div>
	</div>
</section>
