<div class="HeroHomeImage" style="background-image: url(team/Sunrise.jpg)">
</div>

<div class="img-overlay"></div>

 <div class="HeroTeamContainer">

    <div class="collum col-md-8 col-sm-12">
        <div class="kick-eyebrow kick-eyebrow-Light"><%= post.mainBlockEyebrow %></div>
        <h3 class="primary-header primary-header-Light"><%= post.mainBlockTitle %></h3>
        <div class="primary-text primary-text-Light">
          <p><%= post.mainBlockContent %></p>
        </div>
    </div> 
  </div>
