 <div class="change-world"> 
   <div class="center-content row no-gutters">

    <div class="collum col-md-6 col-sm-12"> 
      <div class="tour-cities">
        <div class="tour-city">
            <div class="cover-img city-pic" style="background-image:url('home/Launch.jpg')">
            </div>
        </div>
        <div class="tour-city">
            <div class="cover-img city-pic" style="background-image:url('home/alternate2.jpg')">
            </div>
        </div>
      </div>
    </div>

    <div class="collum col-md-6 col-sm-12"> 
     <div class="big-block-foreword"> 
      <div class="foreword-title toRight">
        <div class="kick-eyebrow kick-eyebrow-Dark"><%= post.block3Eyebrow %></div>
        <h3 class="primary-header"><%= post.block3Title %></h3>
        <div class="primary-text primary-text-Dark">
          <p><%= post.block3Content %></p>
        </div>
                 <div class="BlockText">
   <a href="" class="Cta__Dark"> <%= post.block3Text %>
    <base-stroke></base-stroke></a> 
    <a href="engines" class="Cta__Dark"> 亿万富豪 
    <svg viewbox="0 0 213.66250610351562 45.60000228881836" class="BaseStroke">
     <rect width="212.66250610351562" height="44.60000228881836" rx="2" ry="2" x="0.5" y="0.5" fill="transparent" class="BaseStroke__rect" style="stroke-dashoffset: 510.839; stroke-dasharray: 510.839;"></rect>
    </svg></a>
   <a href="engines" class="Cta__Dark"> 改变世界 
    <svg viewbox="0 0 213.66250610351562 45.60000228881836" class="BaseStroke">
     <rect width="212.66250610351562" height="44.60000228881836" rx="2" ry="2" x="0.5" y="0.5" fill="transparent" class="BaseStroke__rect" style="stroke-dashoffset: 510.839; stroke-dasharray: 510.839;"></rect>
    </svg></a>
  </div>
      </div>
     </div>
    </div>
     
   </div> 
  </div>