 <div class="team block-container"> 
   <div class="center-content row no-gutters">

    <div class="collum col-md-6 col-sm-12"> 
     <div class="foreword"> 
      <div class="foreword-title">
        <div class="kick-eyebrow kick-eyebrow-Dark"><%= post.blockEyebrow %></div>
        <h3 class="primary-header"><%= post.blockTitle %></h3>
        <div class="primary-text primary-text-Dark">
          <p><%= post.blockContent %></p>
        </div>
      </div>
     </div> 
    </div> 

    <div class="collum col-md-6 col-sm-12"> 
            <div class="cover-img city-pic" style="background-image:url('home/CrewCapsuleView.jpg')"></div>
    </div>

   </div> 
  </div>