 <div class="company block-container"> 
   <div class="center-content row no-gutters">

    <div class="collum col-md-6 col-sm-12">
            <div class="cover-img city-pic" style="background-image:url('home/Landing.jpg')"></div>
    </div>

    <div class="collum col-md-6 col-sm-12"> 
     <div class="foreword"> 
      <div class="foreword-title toRight">
        <div class="kick-eyebrow kick-eyebrow-Dark"><%= post.block2Eyebrow %></div>
        <h3 class="primary-header"><%= post.block2Title %></h3>
        <div class="primary-text primary-text-Dark">
          <p><%= post.block2Content %></p>
        </div>
      </div>
     </div> 
    </div>
     
   </div> 
  </div>