<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="js/jquery.min.js"></script>
    <script src="js/feiEngine.js"></script>
</head>

<body>
    
</body>

<script type="text/javascript">
    Ajax.get("ajaxdata/", function(data){
        var json = JSON.parse(data), html = feiEngine.compile(json.template, json.data);
        document.body.innerHTML = html;
    });
    
    function get(el){
        var url = "ajaxdata/" + el.dataset.link;
        Ajax.get(url, function(data){
        var json = JSON.parse(data), html = feiEngine.compile(json.template, json.data);
        document.body.innerHTML = html;
    });
    }
</script>

</html>