<div class="directory-header">
	<ul>
    <% for(var i in this.navDir){ %> 
      <li><a href='<%= this.navDir[i].link %>'>  
      <%= this.navDir[i].name %> 
      </a></li> 
    <% } %> 
	</ul>
</div>